
	<section class="module module-narrow">
		<h2 class="module-heading"><i class="icon-table"></i> {{ _("Statistics") }}</h2>
		<div class="nav">
            <ul class="">
		        <li class="">
                    {% if current_action == 'overall' or current_action == 'all_assets_by_state' or current_action == 'all_assets_by_activity' %} 
                        {{_('Summary')}}
                    {% else %}
                        <a href="/stats/overall">
                            {{_('Summary')}}
                        </a>
                    {% endif %}
	                <ul class="">
			            <li class="">
                            {% if current_action == 'overall'%} 
                                {{_('Overall')}}
                            {% else %}
                                <a href="/stats/overall">
                                    {{_('Overall')}}
                                </a>
                            {% endif %}
                        </li>
			            <li class="">
                            {% if current_action == 'all_assets_by_activity'%} 
                                {{_('All Assets By Activity')}}
                            {% else %}
                                <a href="/stats/all_assets_by_activity">
                                    {{_('All Assets By Activity')}}
                                </a>
                            {% endif %}
                        </li>
			            <li class="">
                            {% if current_action == 'all_assets_by_state'%} 
                                {{_('All Assets By State')}}
                            {% else %}
                                <a href="/stats/all_assets_by_state">
                                    {{_('All Assets By State')}}
                                </a>
                            {% endif %}
                        </li>
		            </ul>
                </li>
			    <li class="">
                    {% if current_action == 'assets' %} 
                        {{_('Assets')}}
                    {% else %}
                        <a href="/stats/assets">
                            {{_('Assets')}}
                        </a>
                    {% endif %}
                </li>
			    <li class="">
                    {% if current_action == 'all_users' or  current_action == 'user' %} 
                        {{_('Users')}}
                    {% else %}
                        <a href="/stats/all_users">
                            {{_('Users')}}
                        </a>
                    {% endif %}
                </li>
            </ul>
		</div>
	</section>
	
	
	<section class="module module-narrow">
		<h2 class="module-heading"><i class="icon-table"></i> {{ _("Reports") }}</h2>
		<div class="nav">
            <ul class=""  style="margin-top: 1em">
            	{% for r in h.get_reports() %}
            		<li><a href="/report/view/{{ r.id }}">{{ r.name }}</a></li>
            	{% endfor %}
		        <li class=""><a class="btn btn-primary" style="margin-top: 1em" href="/report/add"><i class="icon-plus-sign-alt"></i>Add Report</a></li>
            </ul>
		</div>
	</section>
