<div>
<p>Number of active users = {{_(active_users_num)}}, 
Number of inactive users = {{_(dormant_users_num)}}</p>
</div>
<table class="table table-striped table-bordered table-condensed">
    <thead>
      <tr>
        <th scope="col">User Name</th>
        <th scope="col">Is Active</th>
        <th scope="col">Is Administrator</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      {% for row in user_list %}
          <tr 
            class = {%if loop.index0 % 2 == 0 %} {{_('even')}} {% else %} {{_('odd')}} {% endif %}  
            >
            <td class="dataset-label">{{ h.linked_user(row.name, maxlength=20) }}</td>
            <td class="dataset-details">{{ row.state }}</td>
            <td class="dataset-details">{{ row.sysadmin }}</td>
            <td class="dataset-details">
                <a class="btn btn-primary" title={{ _('Detail') }} href="/stats/user/{{ row.id }}" ><i class="icon-info"></i>{{ _('Show Activities') }}</a>
            </td>
          </tr>
      {% endfor %}
    </tbody>
</table>

