{% extends "vdojstats-base.html" %}
{% import 'macros/form.html' as form %}

{% block vdojstat_actions %}
	
	<div id='vdoj_export'>
		<a href="/report/pdf/{{ c.report['id'] }}" data-format='pdf' class="format-label" title={{ _('PDF') }} ></a>
		<a href="/report/csv/{{ c.report['id'] }}" data-format='csv' class="format-label" title={{ _('CSV') }} ></a>
		<a href="/report/xml/{{ c.report['id'] }}" data-format='xml' class="format-label" title={{ _('XML') }} ></a>
	
		<a class="btn btn-primary" style="margin-top: 5px; margin-left: 1em; vertical-align: top;" href="/report/edit/{{ c.report['id'] }}" data-module-i18n="{{ locale }}">{{ _('Edit') }}</a>
	
		{% set locale = h.dump_json({'content': _('Are you sure you want to delete this report?')}) %}
		<a class="btn btn-danger" style="margin-top: 5px; vertical-align: top;" href="/report/delete/{{ c.report['id'] }}" data-module="confirm-action" data-module-i18n="{{ locale }}">{{ _('Delete') }}</a>
	</div>
	<div id='clear'></div>
	
{% endblock %}

{% block vdojstat_content %}
	{{ super() }}
	  
	{% snippet 'snippets/vdojstats-report-content.html', report=c.report, users = c.users, activities = c.activities, show_org = c.show_org %}

{% endblock %}


